*.tss
*.suo
*.bak
bin/
obj/
*.exe
*.pdb
*.dll
packages/
*.svn
*.config
Win32/
x64/
*.ncb
*.VC.db
*.VC.opendb
ipch/
*.aps
debug/
release/
*.user
*.db-shm
*.db-wal
/FractalX/.vs
/OtherDependencies/Triangles/

*.testlog
*.manifest
